@import url(./form.css);

* {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 82px;
    min-width: auto;   
    display: flex; 
}

.container {
        margin-left: 100px;
}

.menu_block {
    display: flex;
}

.logo {
    margin-top: 20px;
    margin-bottom: 11px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    margin-left: 102px;
    margin-top: 29px;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: #000;
}

.menu_item_down {
    width: 14px;
    height: 14px;
    margin-top: -7px;
}

.menu_item_down_img {
    margin-right: 115px;
}

.header_contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-left: 281px;
}

.image_phone {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.header__phone {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(72, 72, 72);
}

.header_backet {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 30px;
    margin-top: 8px;
}

.header_like {
    margin-right: 24px;
}

.main_banner {
    min-width: 1440px;
    height: 774px;
    display: block;

}

.main_banner_header {
    position: absolute;
    top: 63%;
    left: 60%;
    transform: translate(-20%, -50%);
    text-align: left;
    padding: 20px;
}


.main_banner_img img {
    width: 1440px;
    height: 774px;
}


h1,main_header_text {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    color: rgba(22, 28, 36, 1);
}

.main_header_subtext {
    color: var(--grey, #454F5B);
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.main_header_price_text {
    margin-top: 32px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.main_header_price {
    margin-top: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--black, #161C24);
}

.main_header_old_price {
    margin-left: 14px;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration:line-through;
    color: #A4A4A4;
}

.main_button_blue {
    width: 220px;
    height: 50px;
    background: var(--main, #4295E4);
    cursor: pointer;
    border: none;
}
.button_text {
    text-align: center;
    margin-top: 9px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color:rgba(255, 255, 255, 1);
 }

.main_slider {
    position: relative;
    left: 650px;
    display: flex;
    margin-bottom: 104px;
}

.slider_block {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 104px;

}

.slider_block_img_vector {
    margin-right: 24px;
}

.slider_block_img_point {
    margin-right: 16px;
}

.slider_block_img_point2 {
    margin-left: 16px;
}

.slider_block_img_vector2 {
    margin-left: 24px;
    top: 50%;
}

.statistic {
    display: flex;
    min-width: auto;
    padding: 40px 319px;
    background: var(--bg-light, #F2F8FF);
}

.statistic_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;
}

.statistic_numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.statistic_amount {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    color: var(--black, #161C24);
}

.statistic_decr {
    color: var(--grey, #454F5B);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.about {
    padding: 93px 0 94px 0;
    width: 1270.743px;
    min-height: 350px;
}

.about_title {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    color: var(--black, #161C24);
    text-align: center;
    margin-bottom: 56px;
}

.about_block {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    background: #FFF;
    margin-top: 93px;
}


.about_descr {
    min-width: 356px;
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    gap: 10px;
    background: #FFF;
    box-shadow: 1px 0px 0px 0px #C4CDD5 inset, -1px 0px 0px 0px #C4CDD5 inset;
}

.about_desr_text {
    color: var(--grey, #454F5B);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 20px;
    font-weight: 300;
    margin-top: 36px;
}

.category {
    /* min-height: auto;  */
}

.category_title {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    text-align: center;
    margin-bottom: 64px;
}

.category_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.category_item {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 600px;
    height: 470px;
    display: flex;  
}

.category_text {
    position: absolute;
    color: var(--black, #161C24);
    font-size: 22px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-right: 40px;
}

.locks_category {
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    color: var(--black, #161C24);
}

.category_button {
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    padding: 12px 78px;   
}

.category_all {
    padding: 12px 57px;
    margin-top: 60px;
    width: 220px;
    height: 50px;
    background: var(--main, #4295E4);
    border: none;
}

.products {
    min-width: 1243px;
    height: 62px;
}

.product_title_block {
    display: flex;

}
.products_title   {
    color: #161C24;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
}

.product_slider_left {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.product_wrap {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 96px;
}



