* {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 82px;
    width: 1440px;    
}

.container {
        display: flex;
        margin: 0 auto;
}

.logo {
    margin-top: 20px;
    margin-bottom: 11px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    margin-left: 102px;
    margin-top: 29px;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: #000;
}

.menu_item_down {
    width: 14px;
    height: 14px;
    margin-top: -7px;
}

.menu_item_down_img {
    margin-right: 115px;
}

.header_contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-left: 281px;
}

.image_phone {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.header__phone {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(72, 72, 72);
}

.header_backet {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 30px;
    margin-top: 8px;
}

.header_like {
    margin-right: 24px;
}

.main_banner {
    width: 1440px;
    height: 774px;
    flex-shrink: 0;
}

.main_banner_text_block {
    display: block;
}

.main_banner_img {
    width: 1440px;
    height: 774px;
}

.main_banner_header {
    text-align: left;
}

h1,main_header_text {
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    color: rgba(22, 28, 36, 1);
}

.main_header_subtext {
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.main_header_price_text {
    margin-top: 32px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.main_header_price {
    margin-top: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--black, #161C24);
}

.main_header_old_price {
    margin-left: 14px;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration:line-through;
    color: #A4A4A4;
}

.main_button_blue {
    width: 220px;
    height: 50px;
    background: var(--main, #4295E4);
}
.button_text {
    text-align: center;
    margin-top: 9px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color:rgba(255, 255, 255, 1);
 }